body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#spriteScreen {
  background-color: white;
  border-style: solid;
  border-width: 1.5em;
  border-color: #bdbdbd;
  border-radius: 1em 1em 1em 5em;
}

#infoScreen {
  background-color: #81c784;
  color: #1b5e20;
}
