body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#spriteScreen {
  background-color: white;
  border-style: solid;
  border-width: 1.5em;
  border-color: #bdbdbd;
  border-radius: 1em 1em 1em 5em;
}

#infoScreen {
  background-color: #81c784;
  color: #1b5e20;
}

#spriteImage {
  border-radius: 100em;
}

#topLights {
  text-align: center;
}

#bottomLights {
  text-align: center;
}

#topLightBlue {
  background-color: #00b0ff;
  color: #00b0ff;
  border-color: #bdbdbd;
  border-style: solid;
  border-radius: 4em;
  height: 4em;
  width: 4em;
}
#topLightRed {
  background-color: red;
  color: red;
  border-color: #bdbdbd;
  border-style: solid;
  border-radius: 2em;
  height: 2em;
  width: 2em;
}
#topLightYellow {
  background-color: yellow;
  color: yellow;
  border-color: #bdbdbd;
  border-style: solid;
  border-radius: 2em;
  height: 2em;
  width: 2em;
}
#topLightGreen {
  background-color: #64dd17;
  color: #64dd17;
  border-color: #bdbdbd;
  border-style: solid;
  border-radius: 2em;
  height: 2em;
  width: 2em;
}

#bottomLightLeft {
  background-color: red;
  color: red;
  border-color: #bdbdbd;
  border-style: solid;
  border-radius: 5em;
}

#bottomLightRight {
  background-color: blue;
  color: blue;
  border-color: #bdbdbd;
  border-style: solid;
  border-radius: 5em;
}
